[Unit]
Description="My App Wow!"

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=deploy
WorkingDirectory=/srv/app/current
EnvironmentFile=/srv/app/environment
ExecStart=/usr/bin/bundle exec rackup -o 0.0.0.0 -p 8080
Restart=always
