[Unit]
Description="My App Wow!"

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/my-app
ExecStart=/usr/bin/bundle exec rackup -p 8080
Restart=always
