[Unit]
Description=My App, Wow!

[Service]
User=deploy
RootDirectory=/srv/my-app/current
WorkingDirectory=/srv/my-app/current
ExecStart=/usr/bin/bundle exec eye load config/my-app.eye -f
